
<div class = "container">
  
  <%= form_with(model: activity, local: true) do |form| %>
    <% if activity.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

        <ul>
        <% activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class = "row form-group col-md-4 actions">

      <select class="custom-select" id="activity_title" name="activity[title]">
          <option value="">Add Activity</option>
          <option value="Running">Running</option>
          <option value="Swimming">Swimming</option>
          <option value="Cyling">Cyling</option>
          <option value="Strength Training (Upper-Body)">Strength Training (Upper-Body)</option>
          <option value="Strength Training (Lower-Body)">Strength Training (Lower-Body)</option>
          <option value="Rowling">Rowling</option>
          <option value="Walking">Walking</option>
          <option value="Stretching">Stretching</option>
          <option value="Coordination & Balance">Coordination & Balance</option>
      </select>
     
    </div>

    <div class="actions">
      <%= form.label :description %>
      <%= form.text_area :notes %>

      <%= form.label :intensity %>
      <%= form.text_field :intensity %>

      <%= form.label :duration %>
      <%= form.text_field :duration %>

      <%= form.submit %>
    </div>
  <% end %>
</div>