
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="card m-3 p-1 shadow col-md-8 mx-auto">    
    <h1 class="text-center display-4 text-info p-3">Activities</h1>

      <table class="table table-bordered">
        <thead class="thead-dark text-center">
          <tr class="shadow">
            <th class="col-md-3">Activity Title</th>
            <th class="col-md-3">Intensity</th>
            <th class="col-md-3">Duration</th>
            <th class="col-md-2">Date</th>
            <th class="col-md-1"></th>
          </tr>                
        </thead>

        <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td><p><%= activity.title %> </p></td>
              <td><%= activity.intensity %></td>
              <td><%= activity.duration %></td>
              <td><%= activity.workout_date %></td>  
              <td><%= link_to 'View', activity %></td>
              
            </tr>          
          <% end %>
          
        </tbody>
      </table>
        <div>
          <%= link_to 'Add Activity', new_activity_path, class: 'btn btn-primary btn-lg' %>
        </div>
  </div>
</div>
