<div class="container-fluid py-3">
    <div class="row">
			
			<div class="col-4 pt-2">
				<% if user_signed_in? %>
					<%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-lg btn-outline-danger", style: "font-size:1.0rem" %>
				<% else %>
					<%= link_to "Sign up!", new_user_registration_path, class: "btn btn-lg btn-outline-dark" %>
				<% end %>
			</div>
			
			<div class="col-4 p-1 text-center">
				<h1>
					<%= link_to "Moove And Groove", root_path, class: "btn btn-lg btn-outline-dark", style: "font-size:2.25rem" %>
				</h1>
			</div>
			
			<div class="col-4 d-flex justify-content-end align-items-center">
				<% if user_signed_in? %>
					<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-outline-danger", style: "font-size:1.0rem" %>
				<% else %>
					<%= link_to "Log In", new_user_session_path, class: "btn btn-lg btn-outline-dark" %>
				<% end %>
			</div>
			
    </div>
	</div>

	<div class="text-center">
		<% if user_signed_in? %>
			<%= link_to current_user.email, activities_path, method: :get, class: "btn btn-outline-primary", style: "font-size:0.75rem" %>
		<% end %>
	</div>


	<div class="container">
		
		<div class="row">
			<div class="col-md-8 p-2 btn-group">
				<%= link_to "Home", root_path, class: "btn btn-outline-dark font-italic font-weight-bolder", style: "font-size:1.75rem" %>
				<%= link_to "Who we are", about_path, class: "btn btn-outline-dark font-italic font-weight-bolder", style: "font-size:1.75rem" %>
				<%= link_to "What we offer", listofactivities_path, class: "btn btn-outline-dark font-italic font-weight-bolder", style: "font-size:1.75rem" %>
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-md-4 p-2">
				<% if user_signed_in? %>
				<%= link_to "Add Activity", new_activity_path, class: "btn btn-outline-success", style: "font-size:1.0rem" %>
				<%= link_to "Your Activities", activities_path, class: "btn btn-outline-success", style: "font-size:1.0rem" %>
				<% end %>
			</div>
		</div>

	</div>
