<h5>The header, this is where it will goes</h5>

<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "Home", root_path, class: "navbar-brand" %>
				<%= link_to "About", about_path, class: "navbar-brand" %>
				<%= link_to "ActivitiesList", listofactivities_path, class: "navbar-brand" %>
				<%= link_to "Create Activity", new_activity_path, class: "navbar-brand" %>
				<%= link_to "Show Created Activity", activities_path, class: "navbar_brand" %>	
			</div>
			<ul class="navbar-nav nav">
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
				<% if user_signed_in? %>
					<li><%= link_to "Edit your profile", edit_user_registration_path %></li>
					<li><%= link_to current_user.email, edit_user_registration_path %></li>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>	
					<li><%= link_to "Log In", new_user_session_path %></li>
				<% end %>
			</ul>
			
		</div>
	</nav>